@import 'src/app/scss/variables';
@import "src/app/scss/mixins";

.enreg-header.navbar {
  position: relative;
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: blue;
  @include borders($navbar-border);
}
