$color: #196faa;
$head-font: "Grand Hotel";
$navbar-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            #c2cfd6
  )
);
$navbar-active-color: #29363d;
