<footer class="footer footer-principal">
    <div class="footer__region1">
        <div class="container-content">
            <div class="row">

                <div class="col-md-6 col-lg-3">
                    <div class="logos">
                        <div class="logo logo--0">
                            <a href="#" title="Agence du numérique en santé (nouvelle fenêtre)" target="_blank" rel="nofollow">

                                <img src="assets/img/Footer.svg" alt="Agence du numérique en santé">

                            </a>
                        </div>
                    </div> <img src="assets/img/Ministere.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="address">
                        <h3>Agence du Numérique en Santé</h3>
                        <span>9, rue Georges Pitard 75015 Paris</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="line-4 col-md-12">
    <div class="footer__region2">
        <div class="container-content">
            <div class="footer-contentinfo" role="contentinfo">


                <ul class="footer-list footer-list--inline">
                    <li class="footer-list__item">
                        <a href="#" target="_blank">
                          Ministère des Solidarités et de la Santé</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#" target="_blank">
                          Legifrance.gouv.fr</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#" target="_blank">
                          Service-public.fr</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#">
                          Mentions légales</a>
                    </li>
                    <li class="footer-list__item">
                        <a href="#">
                          Déclaration d’accessibilité</a>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</footer>